
img {
    width: 300px;
    align-self: start;

}
header{
    display: flex; 
    flex-direction: column;
}
body{
    background-color: white;
}

.titulo{
font-size: 45px;
text-align: center;
}

.formacao{
    font-size: 35px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.nav{
    width: 500px;
    align-self: center;
}
.titulo{
    background-color: black;
}